version: "3.9"

services:

  postgres:
    image: postgres:15
    container_name: brainbolt_postgres
    restart: always
    environment:
      POSTGRES_USER: brainbolt
      POSTGRES_PASSWORD: brainbolt
      POSTGRES_DB: brainbolt
    ports:
      - "5433:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
    image: redis:7
    container_name: brainbolt_redis
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - redisdata:/data

volumes:
  pgdata:
  redisdata:
